<form method="post" action="{{ path('app_formulairedechethuile_delete', {'id': formulairedechethuile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formulairedechethuile.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
