{% extends 'base.html.twig' %}


{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Formulaire de collecte d'informations</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body>
    <h2>Formulaire de collecte d'informations</h2>
    <form  style="background-color: #f7f7f7" class="form-control" method="post" action="{{ path('formulaire_dechet_huile') }}" >
        <div>
            <label for="nom_hall">Nom du hall :</label>
            <input class="form-control" type="number" id="nom_hall" name="nom_hall" required>
        </div>
        <div>
            <label for="allee">Allée :</label>
            <input type="text" id="allee" name="allee" required>
        </div>
        <div>
            <label for="sacs_biodechets">Distribution de sacs biodéchets :</label>
            <input type="checkbox" id="sacs_biodechets" name="sacs_biodechets" value="oui" class="form-check-input">
            <label for="nombre_sacs">Nombre de sacs :</label>
            <input type="number" id="nombre_sacs" name="nombre_sacs" min="1" disabled required>
        </div>
        <div>
            <label for="quantite_sacs">Quantité (50l ou 110l) :</label>
            <select id="quantite_sacs" name="quantite_sacs" disabled>
                <option value="50l">50 litres</option>
                <option value="110l">110 litres</option>
            </select>
        </div>
        <div>
            <label for="bidon_huile">Distribution de bidon d'huile :</label>
            <input type="checkbox" id="bidon_huile" name="bidon_huile" value="oui" class="form-check form-switch">
            <label for="nombre_bidons">Nombre de bidons :</label>
            <input type="number" id="nombre_bidons" name="nombre_bidons" min="1" disabled required>
        </div>
        <div>
            <label for="commentaire">Commentaire :</label>
            <textarea id="commentaire" name="commentaire" rows="4" cols="50" class="form-control"></textarea>
        </div>
        <script>
            document.getElementById('sacs_biodechets').addEventListener('change', function() {
                document.getElementById('nombre_sacs').disabled = !this.checked;
                document.getElementById('quantite_sacs').disabled = !this.checked;
            });
            document.getElementById('bidon_huile').addEventListener('change', function() {
                document.getElementById('nombre_bidons').disabled = !this.checked;
            });
        </script>
        <button type="submit" class="btn btn-outline-dark">Soumettre</button>
    </form>
    </body>
{% endblock %}
