{% extends 'baselogin.html.twig' %}

{% block body %}
    <h1>Merci pour votre contribution !</h1>
    <p>Votre formulaire a été soumis avec succès. Nous vous remercions pour votre soutien.</p>
{% endblock %}
