{# templates/admin/fields/phase_field.html.twig #}
{% if field.value == 'Construction' %}
    <span class="text-warning">{{ field.value }}</span>
{% elseif field.value == 'Opérationnel' %}
    <span class="text-success">{{ field.value }}</span>
{% else %}
    <span>{{ field.value }}</span>
{% endif %}
